.navbar-container {
  font-size: var(--navbar-font-size);
  font-weight: var(--font-weight-regular);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  width: 10%;
  border: 1px solid white;
}

.navbar-right {
  display: flex;
  flex-direction: column;
  /* gap: calc(var(--margin) / var(--golden-ratio)); */
}

.navbar-component {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    font-size: 1rem;
  }
}
