.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: var(--margin);
  font-size: var(--navbar-font-size);
  font-weight: var(--font-weight-regular);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  width: 10%;
  /* border: 1px solid black; */
}

.navbar-left {
  font-weight: var(--font-weight-semibold);
}

.navbar-right {
  display: flex;
  flex-direction: column;
  /* gap: calc(var(--margin) / var(--golden-ratio)); */
}

.navbar-component {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--background-color);
  color: var(--font-color);
  transition:
    color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.navbar-component:hover {
  box-shadow: inset 100px 0 0 0 var(--font-color);
  color: var(--background-color);
}

@media (max-width: 768px) {
  .navbar-container {
    width: 15%;
  }

  .navbar-left {
    font-weight: var(--font-weight-medium);
  }
}
