.navbar-container {
  font-size: var(--navbar-font-size);
  color: var(--font-color);
  font-weight: var(--font-weight-regular);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin);
}

.navbar-right {
  display: flex;
  gap: calc(var(--margin) / var(--golden-ratio));
}

.navbar-component {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    font-size: 1rem;
  }
}
