.social-container {
  position: fixed;
  top: 0;
  right: 0;
  margin: var(--margin);
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-regular);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 10%;
  /* border: 1px solid black; */
}

.social-component {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    font-size: 1rem;
  }
}
