:root {
  --body-font: "Geist";
  --body-font-italics: "PlayfairDisplayItalics";
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 800;

  --body-font-size: 0.7rem;
  --navbar-font-size: calc(var(--body-font-size) * var(--golden-ratio));
  --footer-font-size: calc(var(--body-font-size) * var(--golden-ratio));
  --golden-ratio: 1.618;

  --margin: 2rem;

  /* --background-color: #f9f6ee; */
  --background-color: #f9f3ee;
  --font-color: #262525;
}

body {
  height: fit-content;
  margin: 0;
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

.sketch {
  width: 100%;
  height: 100vh;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* TRANSITIONS*/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../public/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "PlayfairDisplayItalics";
  src: url("../public/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("../public/Geist/GeistVariableVF.ttf") format("truetype");
}
