.work-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--margin);
}

.case-study {
  width: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.case-study-image {
  width: 80%;
  height: 10%;
  margin-bottom: calc(var(--margin) / 2);
}

.tags {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.tags li {
  display: inline-block;
  background-color: #e0e0e0;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
}
